<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="./home"><h2>Guan</h2></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="./redie"
            >Redie</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    width: 99vw;
    min-height: 80vh;
  "
>
  <div
    class="shadow-lg p-3 mb-5 bg-body rounded"
    style="display: flexbox; width: 80vw; padding: 10px"
  >
    <ng-content></ng-content>
  </div>
</div>
