<div>
  <h1>成績</h1>
  <footer>唯一中文區...</footer>
  <hr />
  若想查詢目前無從得知的分數，請使用以下系統:

  <form
    style="display: flex; margin: 5; padding: 5; flex-direction: column"
    class="border"
    [formGroup]="infoform"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3">
      <label for="year">年分</label>
      <input id="year" type="text" formControlName="year" required />
      <div
        class="alert alert-danger"
        *ngIf="year!.errors && (year!.dirty || year!.touched)"
      >
        <p *ngIf="year!.errors['required']" class="text-danger">請填此欄</p>
        <p *ngIf="year!.errors['pattern']" class="text-danger">數字</p>
        <p *ngIf="year!.errors['minlength']" class="text-danger">
          需要至少三位數
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="grade" class="form-label">年級</label>
      <select
        class="form-select"
        id="grade"
        (change)="changeGrade($event)"
        formControlName="grade"
      >
        <option value="1" selected>一</option>
        <option value="2">二</option>
        <option value="3">三</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="Semester" class="form-label">學期</label>
      <select
        class="form-select"
        id="Semester"
        (change)="changeSemester($event)"
        formControlName="semester"
      >
        <option value="1" selected>上學期</option>
        <option value="2">下學期</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="Exam" class="form-label">考試</label>
      <select
        class="form-select"
        id="Exam"
        (change)="changeExam($event)"
        formControlName="exam"
      >
        <option value="1" selected>期初複習考(下學期勿選)</option>
        <option value="2">第一次期中考</option>
        <option value="3">第二次期中考</option>
        <option value="4">期末考</option>
      </select>
    </div>
    <button *ngIf="!infoform.valid" class="btn btn-danger" [disabled]="true">
      輸入資料後即可查詢
    </button>
    <button
      *ngIf="infoform.valid"
      type="submit"
      [disabled]="false"
      class="btn btn-primary"
    >
      查詢(請先於學校成績查詢系統登入!)
    </button>
  </form>
</div>
